<div class="row" >
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer; border-left: 5px solid {{ingredient.color}}"
        *ngFor="let ingredient of (shoppingListState | async).ingredients; let i = index"
        (click)="onEditItem(i)"
      >
        {{ ingredient.ingredient.name}} ({{ingredient.amount}} {{ingredientAmountTypes[ingredient.amountType]}})
      </a>
    </ul>
  </div>
</div>
